/* Global Styles */
body {
  background-color: #0e131f;
}

.site {
  margin: 30px 50px;
}

.site-content {
  margin: 25px 30px;
}

/* Header Styles */
.site-header {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  border-bottom: 3px solid #ffffff;
}

/* Navbar Styles */
#site-nav {
  display: flex;
  flex-flow: row wrap;
}

#site-nav p,
#site-nav a {
  padding: 0px 5vh;
  margin-bottom: 10px;
}

#site-nav a,
#site-url a {
  text-decoration: none;
  color: #ffffff;
}

#site-nav a:hover,
#site-url a:hover {
  text-decoration: underline;
}

#site-url p {
  position: absolute;
  right: 20px;
}

#logo-img {
  font-size: 0px;
}

#logo-img img {
  width: 35px;
  height: 35px;
}

/* Content Styles */
.site-aboutme {
  background-color: #1b1c1d;
  padding: 5px 4vh;
  display: block;
  float: right;
  max-width: 30vw;
  min-width: 10vw;
  border-radius: 8px;
}

#name {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: calc(15px + 2vmin);
  margin: 20px 10px;
  color: #ffffff;
  text-align: right;
}

#site-aboutme-text {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: calc(8px + 1vmin);
  color: #ffffff;
  text-align: justify;
  margin: 5px 10px;
}

#shs-name,
#bcca-name {
  text-decoration: none;
}

#shs-name {
  color: #ffc72a;
}

#bcca-name {
  color: #a0c4e2;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .site {
    margin: 30px 50px;
  }

  .site-header {
    font-size: 16px;
  }

  #site-nav {
    flex-direction: column;
    align-items: center;
  }

  #site-nav p,
  #site-nav a {
    padding: 5px 0;
  }

  #site-url {
    display: none;
  }

  .site-content {
    margin: 20px 15px;
  }

  .site-aboutme {
    min-width: 90%;
    align-content: center;
  }

  #name {
    font-size: calc(12px + 2vmin);
  }

  #site-aboutme-text {
    font-size: calc(8px + 1vmin);
  }
}
